

<div id="<%= dom_id tabela %>">
  <p>
    <strong>Nome:</strong>
    <%= tabela.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tabela.email %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= tabela.whatsapp %>
  </p>

</div>
