
 <style>
 body{
   background-color:#ffffff;
 }
 
 </style>



<%= render "form", tabela: @tabela %>

<br>

<div>
  <%= link_to "Ver usuário", @tabela %> |
  <%= link_to "Voltar ao sistema", tabelas_path %>
</div>
